body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
}

.container {
  padding: 10px;
  background-color: #bbada0;
  border-radius: 10px;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 500px;
  height: 500px;
}

.grid-cell {
  background-color: #cdc1b4;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-tile {
  font-size: 24px;
  font-weight: bold;
}

.tile-2 {
  background-color: #eee4da;
  color: #776e65;
}

.tile-4 {
  background-color: #ede0c8;
  color: #776e65;
}

.tile-8 {
  background-color: #f2b179;
  color: #f9f6f2;
}

.tile-16 {
  background-color: #f59563;
  color: #f9f6f2;
}

.tile-32 {
  background-color: #f67c5f;
  color: #f9f6f2;
}

.tile-64 {
  background-color: #f65e3b;
  color: #f9f6f2;
}

.tile-128 {
  background-color: #edcf72;
  color: #f9f6f2;
}

.tile-256 {
  background-color: #edcc61;
  color: #f9f6f2;
}

.tile-512 {
  background-color: #edc850;
  color: #f9f6f2;
}

.tile-1024 {
  background-color: #edc53f;
  color: #f9f6f2;
}

.tile-2048 {
  background-color: #edc22e;
  color: #f9f6f2;
}

.tile-4096, .tile-8192, .tile-16384 {
  background-color: #3c3a32;
  color: #f9f6f2;
}
